**/*.ipynb
**/*.tar
**/*.tar.gz
**/*.pyc
**/*.csv
!Jobs.csv
./.git/
./.vscode/
pyrightconfig.json
./datasets/
!.gitignore
unsorted/*
!unsorted/eval.ipynb
!unsorted/DatasetComplexityLB.py
!unsorted/DatasetComplexityUB.py
**/crash.log
**/tr/**
**/old/**