**/*.ipynb
**/*.tar
**/*.tar.gz
**/*.pyc
**/*.csv
**/*.ipynb
!Jobs.csv
!paper_eval/paper_eval_losscurves.ipynb
!paper_eval/paper_eval_results.ipynb
!pkgs/CKA/paper_eval_featsim.ipynb
./.git/
./.vscode/
pyrightconfig.json
datasets
!.gitignore
unsorted/*
!unsorted/DatasetComplexityLB.py
!unsorted/DatasetComplexityUB.py
**/crash.log
**/tr/**
**/old/**
logs_and_checkpoints/pretraining/testrange
logs_and_checkpoints/seafile-ignore.txt
